<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Mkulima Login</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />

        <link rel="stylesheet" href="css/logi.css" />
    </head>

    <body>
        <h2 class="tip">Mkulima Halisi</h2>
        <div class="cont">
            <div class="form sign-in">
                <h2>Sign In</h2>
                <div class="alert alert-dark"><%= message %></div>
                <form class="login-form" method="POST" , action="/auth/signin">
                    <label> <span>Email</span> <input type="email" name="email" required /> </label> <label> <span>Password</span> <input type="password" name="password" required /> </label>
                    <p class="forgot-pass">Forgot password?</p>
                    <button type="submit" class="submit">Sign In</button>
                </form>
            </div>
            <div class="sub-cont">
                <div class="img">
                    <div class="img__text m--up">
                        <h2>Interested in Our Platform?</h2>
                        <p>Send us an email and our team will get right back at you!</p>
                    </div>
                    <div class="img__text m--in">
                        <h2>One of us?</h2>
                        <p>If you already has an account, just sign in. We've missed you!</p>
                    </div>
                    <div class="img__btn"><span class="m--up">Sign Up</span> <span class="m--in">Sign In</span></div>
                </div>
                <div class="form sign-up">
                    <form action="" method="POST">
                        <h2>Become part of us</h2>
                        <label> <span>Name</span> <input type="text" name="name" required /> </label> <label> <span>Email</span> <input type="email" name="email" required /> </label>
                        <label> <span>Enquiry </span> <textarea name="paragraph_text" cols="40" rows="6"></textarea> </label>

                        <button type="submit" class="submit">Send Enquiry</button>
                    </form>
                </div>
            </div>
        </div>

        <script src="js/logi.js"></script>
    </body>
</html>
