<!-- google font -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
<!-- icons -->
<link href="/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!-- bootstrap -->
<link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/plugins/dropzone/dropzone.css" rel="stylesheet" media="screen">

<link href="/plugins/summernote/summernote.css" rel="stylesheet" />
<!-- morris chart -->
<link href="/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
<!-- Material Design Lite CSS -->
<link rel="stylesheet" href="/plugins/material/material.min.css" />
<link rel="stylesheet" href="/css/material_style.css" />
<!-- animation -->
<link href="/css/pages/animate_page.css" rel="stylesheet" />
<!-- Template Styles -->
<link href="/css/plugins.min.css" rel="stylesheet" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link href="/css/responsive.css" rel="stylesheet" type="text/css" />
<link href="/css/theme-color.css" rel="stylesheet" type="text/css" />
<!-- favicon -->
<link rel="shortcut icon" href="/img/favicon.ico" />
<!-- data tables -->
<link href="/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />