<!-- start js include path -->
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/popper/popper.min.js"></script>
<script src="/plugins/jquery-blockui/jquery.blockui.min.js"></script>
<script src="/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- bootstrap -->
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/sparkline/jquery.sparkline.min.js"></script>
<script src="/js/pages/sparkline/sparkline-data.js"></script>
<!-- Common js -->
<script src="/js/app.js"></script>
<script src="/js/layout.js"></script>
<script src="/js/theme-color.js"></script>
<!-- material -->
<script src="/plugins/material/material.min.js"></script>
<!-- animation -->
<script src="/js/pages/ui/animations.js"></script>
<!-- js-charts -->
<script src="/plugins/chart-js/Chart.bundle.js"></script>
<script src="/plugins/chart-js/utils.js"></script>
<script src="/js/pages/chart/chartjs/chartjs-data.js"></script>
<!-- morris chart -->
<script src="/plugins/morris/morris.min.js"></script>
<script src="/plugins/morris/raphael-min.js"></script>
<script src="/js/pages/chart/morris/morris_home_data.js"></script>
<script src="/plugins/dropzone/dropzone.js"></script>
<script src="/plugins/dropzone/dropzone-call.js"></script>
<!-- end js include path -->