<div class="sidebar-container1">
    <div class="sidemenu-container navbar-collapse collapse fixed-menu">
        <div id="remove-scroll">
            <ul class="sidemenu page-header-fixed p-t-20" data-keep-expanded="false" data-auto-scroll="true"
                data-slide-speed="200">
                <li class="sidebar-toggler-wrapper hide">
                    <div class="sidebar-toggler">
                        <span></span>
                    </div>
                </li>
                <li class="menu-heading">
                    <span>-- Main</span>
                </li>
                <li class="nav-item start active">
                    <a href="s-dashboard" class="nav-link nav-toggle">
                        <i class="material-icons">dashboard</i>
                        <span class="title">Dashboard</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item start active">
                    <a href="s-add-officer" class="nav-link nav-toggle">
                        <i class="material-icons">edit</i>
                        <span class="title">Add Officer</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item start active">
                    <a href="s-all-officers" class="nav-link nav-toggle">
                        <i class="material-icons"> contact_mail</i>
                        <span class="title">Extension Officers</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item start active">
                    <a href="s-farmers" class="nav-link nav-toggle">
                        <i class="material-icons"> contact_mail</i>
                        <span class="title">Farmers View</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item start active">
                    <a href="s-analytics" class="nav-link nav-toggle">
                        <i class="material-icons"> call_split</i>
                        <span class="title">Company Analytics</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link nav-toggle">
                        <i class="material-icons">persons</i>
                        <span class="title">My Profile</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="s-profile" class="nav-link ">
                                <span class="title">My Profile</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="s-profile-edit" class="nav-link ">
                                <span class="title">Edit Profile</span>
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
            </li>
            </ul>
        </div>
    </div>
</div>