<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta name="description" content="Responsive Admin Template" />
	<meta name="author" content="SmartUniversity" />
	<title>Add Farmer || Mkulima Extension</title>
	<% include partials/header-links %>
</head>
<!-- END HEAD -->

<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
	<div class="page-wrapper">
		<!-- start header -->
		<% include partials/header %>
		<!-- end header -->
		<!-- start page container -->
		<div class="page-container">
			<!-- start sidebar menu -->
			<% include partials/sidebar %>
			<!-- end sidebar menu -->
			<!-- end sidebar menu -->
			<!-- start page content -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="page-bar">
						<div class="page-title-breadcrumb">
							<div class=" pull-left">
								<div class="page-title">Add Farmer Details</div>
							</div>
							<ol class="breadcrumb page-breadcrumb pull-right">
								<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="/officer">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
								</li>
								<li><a class="parent-item" href="">Farmers</a>&nbsp;<i class="fa fa-angle-right"></i>
								</li>
								<li class="active">Add Farmer Details</li>
							</ol>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<form class="card-box" id="addfarmerform">
								<div class="card-head">
									<header>Basic Information</header>
								</div>
								<div class="card-body row">
									<div class="col-lg-6 p-t-20">
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
											<input class="mdl-textfield__input" required name="firstname" type="text" id="txtFirstName">
											<label class="mdl-textfield__label">First Name</label>
											<span class="mdl-textfield__error">First name required!</span>
										</div>
									</div>
									<div class="col-lg-6 p-t-20">
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
											<input class="mdl-textfield__input" required name="secondname" type="text" id="txtLasttName">
											<label class="mdl-textfield__label">Last Name</label>
											<span class="mdl-textfield__error">Last name required!</span>
										</div>
									</div>
									<div class="col-lg-6 p-t-20">
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
											<input class="mdl-textfield__input" required name="email" type="email" id="txtemail">
											<label class="mdl-textfield__label">Email</label>
											<span class="mdl-textfield__error">Enter Valid Email Address!</span>
										</div>
									</div>
									<div class="col-lg-6 p-t-20">
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
											<input class="mdl-textfield__input" required name="idnumber" type="text" id="idnumber">
											<label class="mdl-textfield__label">ID Number</label>
											<span class="mdl-textfield__error">ID Number required!</span>
										</div>
									</div>
									<div class="col-lg-6 p-t-20">
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
											<input class="mdl-textfield__input" required name="address" type="text" id="idnumber">
											<label class="mdl-textfield__label">Address</label>
											<span class="mdl-textfield__error">Address required!</span>
										</div>
									</div>
									<div class="col-lg-6 p-t-20">
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
											<select name="gender" required class="mdl-textfield__input">
												<option value="male">Male</option>
												<option value="female">Female</option>
											</select>
											<label class="mdl-textfield__label is-dirty">Gender</label>
										</div>
									</div>
									<div class="col-lg-6 p-t-20">
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
											<input class="mdl-textfield__input" required name="phone" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="text5">
											<label class="mdl-textfield__label" for="text5">Mobile Number</label>
											<span class="mdl-textfield__error">Number required!</span>
										</div>
									</div>

									<div class="col-lg-6 p-t-20">
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
											<input class="mdl-textfield__input" name="avatar" type="file" id="text5">
											<label class="control-label">Upload Farmer Profile</label>
										</div>
									</div>
									<div class="col-lg-12 p-t-20 text-center">
										<div class="twoToneCenter">
											<button id="registerFarmer" class="twoToneButton btn btn-primary mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default"
											 type="submit">Register Farmer <span class="mdi mdi-account-star"></span></button>
											<button type="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default">Cancel</button>
										</div>
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
			<!-- end page container -->	
		</div>
		<% include partials/paths %>
		<% include partials/footer %>
		<!-- end footer -->
	</div>
</body>

</html>