<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>All Officers || Mkulima Extension</title>
    <% include partials/header-links %>
</head>
<!-- END HEAD -->

<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
    <div class="page-wrapper">
        <!-- start header -->
        <% include partials/header %>
        <!-- end header -->
        <!-- start page container -->
        <div class="page-container">
            <!-- start sidebar menu -->
            <% include partials/sidebar %>
            <!-- end sidebar menu -->
            <!-- end sidebar menu -->
            <!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">All Adminstrators</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="/officer">Home</a>&nbsp;<i
                                        class="fa fa-angle-right"></i>
                                </li>
                                <li><a class="parent-item" href="">Adminstrators</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li class="active">All Adminstrators</li>
                            </ol>
                        </div>
                    </div>

                    <div class="row">
                        <% for(var i=0; i < officers.length; i++) { %>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="m-b-20">
                                    <div class="doctor-profile">
                                        <div class="profile-header bg-b-black">
                                            <div class="user-name">
                                                <%= officers[i].name %>
                                            </div>
                                            <div class="name-center">
                                                <%= officers[i].phone %>
                                            </div>
                                        </div>
                                        <img src="<%= officers[i].avatar %>" class="user-img" alt="">
                                        <p>
                                            <%= officers[i].email %>
                                        </p>
                                        <div>
                                            <p>
                                                <i class="fa fa-phone"></i><a href="tel:<%= officers[i].phone %>">
                                                    <%= officers[i].phone %></a>
                                            </p>
                                        </div>
                                        <div class="profile-userbuttons">
                                            <a href="tel:<%= officers[i].phone %>" class="btn btn-circle deepPink-bgcolor btn-sm">Call</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end page content -->

    </div>
    <!-- end page container -->
    <% include partials/footer %>
    <!-- end footer -->
    </div>
    <% include partials/paths %>
</body>

</html>