<!DOCTYPE html>
<html lang="en">
    <!-- BEGIN HEAD -->
    <% include partials/datatables-all-farmers %>

    <!-- END HEAD -->

    <body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
        <div class="page-wrapper">
            <!-- start header -->
            <% include partials/header %>
            <!-- end header -->
            <!-- start page container -->
            <div class="page-container">
                <!-- start sidebar menu -->
                <% include partials/sidebar %>
                <!-- end sidebar menu -->
                <!-- start page content -->
                <div class="page-content-wrapper">
                    <div class="page-content">
                        <div class="page-bar">
                            <div class="page-title-breadcrumb">
                                <div class=" pull-left"><div class="page-title">All Farmers</div></div>
                                <ol class="breadcrumb page-breadcrumb pull-right">
                                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="/officer">Home</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                                    <li><a class="parent-item" href="">Farmers</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                                    <li class="active">All Farmers</li>
                                </ol>
                            </div>
                        </div>
                        <div class="tab-content tab-space">
                            <div class="tab-pane active show" id="tab1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-box">
                                            <div class="card-head"></div>
                                            <div class="card-body ">
                                                <div class="table-scrollable">
                                                    <table class="table table-hover table-checkable order-column full-width" id="farmersTable">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th class="center">Name</th>
                                                                <th class="center">ID</th>
                                                                <th class="center">Address</th>
                                                                <th class="center">Phone</th>
                                                                <th class="center">Join date</th>
                                                                <th class="center">Email</th>
                                                                <th class="center">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% if(farmers.length){ for(var i=0; i < farmers.length; i++) { %>
                                                            <tr class="odd gradeX" data-farmer="<%= farmers[i].id %>">
                                                                <td class="user-circle-img sorting_1"><img src="/img/user/user1.jpg" alt="" /></td>
                                                                <td class="center"><%= farmers[i].name %></td>
                                                                <td class="center"><%= farmers[i].idnumber %></td>
                                                                <td class="center"><%= farmers[i].address %></td>
                                                                <td class="center"><%= farmers[i].phone.replace(' ', '') %></td>
                                                                <td class="center">
                                                                    <%= new Date(farmers[i].created).getDate() %>-<%= new Date(farmers[i].created).getMonth() %>-<%= new
                                                                    Date(farmers[i].created).getFullYear() %>
                                                                </td>

                                                                <td class="center"><%= farmers[i].email %></td>
                                                                <td class="center">
                                                                    <a href="add_farmer" class="btn btn-tbl-edit btn-xs"> <i class="fa fa-pencil"></i> </a>
                                                                    <a class="btn btn-tbl-delete btn-xs"> <i class="fa fa-trash-o "></i> </a>
                                                                </td>
                                                            </tr>
                                                            <% } }%>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page content -->
            </div>
            <!-- end page container -->
        </div>

        <!-- start footer -->
        <% include partials/footer %>
        <!-- end footer -->
        <!-- end js include path -->
        <% include partials/paths %>
    </body>
</html>
