<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar -->
    <section class="sidebar">
        <div id="menu" role="navigation">
            <div class="nav_profile">
                <div class="media profile-left">
                    <a class="pull-left profile-thumb" href="#"> <img src="/img1/authors/avatar1.jpg" class="img-circle"
                            alt="User Image" /></a>

                    <div class="content-profile">
                        <h4 class="media-heading">User Name</h4>
                        <ul class="icon-list">f
                            <li>
                                <a href="users.html"> <i class="fa fa-fw ti-user"></i> </a>
                            </li>
                            <li>
                                <a href="lockscreen.html"> <i class="fa fa-fw ti-lock"></i> </a>
                            </li>
                            <li>
                                <a href="edit_user.html"> <i class="fa fa-fw ti-settings"></i> </a>
                            </li>
                            <li>
                                <a href="login.html"> <i class="fa fa-fw ti-shift-right"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="navigation">
                <li class="active" id="active">
                    <a href="/sys-dashboard"> <i class="menu-icon ti-dashboard"></i> <span class="mm-text ">Dashboard</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/register-company"> <i class="menu-icon ti-announcement"></i> <span class="mm-text ">Register
                            Company</span> </a>
                </li>
                <li class="active">
                    <a href="/companies"> <i class="menu-icon ti-user"></i> <span class="mm-text ">Companies</span> </a>
                </li>
                <!--
                    <li class="active">
                        <a href="/regis"> <i class="menu-icon ti-desktop"></i> <span class="mm-text ">Session</span> </a>
                    </li>
                -->
            </ul>
            <!-- / .navigation -->
        </div>
        <!-- menu -->
    </section>
    <!-- /.sidebar -->
</aside>