<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" /> <link rel="shortcut icon" href="/img1/favicon.ico" />
<link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<!-- global css -->
<link type="text/css" rel="stylesheet" href="/css1/app.css" />
<!-- end of global css -->
<!-- page level css -->
<link rel="stylesheet" href="/vendors1/swiper/css/swiper.min.css" /> <link href="/vendors1/nvd3/css/nv.d3.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/vendors1/lcswitch/css/lc_switch.css" /> <link rel="stylesheet" type="text/css" href="/css1/custom.css" />
<link rel="stylesheet" href="/css1/custom_css/skins/skin-default.css" type="text/css" id="skin" /> <link href="/css1/custom_css/dashboard1.css" rel="stylesheet" type="text/css" />
<link href="/css1/custom_css/dashboard1_timeline.css" rel="stylesheet" />

<link href="/vendors1/select2/css/select2.min.css" type="text/css" rel="stylesheet" /> <link href="/vendors1/select2/css/select2-bootstrap.css" rel="stylesheet" />
<link href="/vendors1/bootstrapvalidator/css/bootstrapValidator.min.css" rel="stylesheet" /> <link href="/vendors1/iCheck/css/all.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/css1/custom.css" /> <link rel="stylesheet" href="/css1/custom_css/skins/skin-default.css" type="text/css" id="skin" />
<link href="/css1/custom_css/wizard.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="/css1/custom.css" /> <link rel="stylesheet" type="text/css" href="/css1/custom_css/widgets.css" />

<!-- end of page level css -->
