<header class="header">
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="/" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the marginin -->
            <img src="/img1/logo.png" alt="logo" />
        </a>
        <!-- Header Navbar: style can be found in header -->
        <!-- Sidebar toggle button -->
        <div>
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button"> <i class="fa fa-fw ti-menu"></i> </a>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-fw ti-email black"></i> <span class="label label-success">2</span> </a>
                    <ul class="dropdown-menu dropdown-messages table-striped">
                        <li class="dropdown-title">New Messages</li>
                        <li>
                            <a href="" class="message striped-col">
                                <img class="message-image img-circle" src="/img1/authors/avatar7.jpg" alt="avatar-image" />

                                <div class="message-body">
                                    <strong>Ernest Kerry</strong> <br />
                                    Can we Meet? <br />
                                    <small>Just Now</small> <span class="label label-success label-mini msg-lable">New</span>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-footer"><a href="#"> View All messages</a></li>
                    </ul>
                </li>
                <!-- rightside toggle -->
                <li>
                    <a href="#" class="dropdown-toggle toggle-right" data-toggle="dropdown"> <i class="fa fa-fw ti-view-list black"></i> <span class="label label-danger">9</span> </a>
                </li>
                <!-- User Account: style can be found in dropdown -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle padding-user" data-toggle="dropdown">
                        <img src="/img1/authors/avatar1.jpg" width="35" class="img-circle img-responsive pull-left" height="35" alt="User Image" />
                        <div class="riot">
                            <div>
                                Addison <span> <i class="caret"></i> </span>
                            </div>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="/img1/authors/avatar1.jpg" class="img-circle" alt="User Image" />
                            <p>Addison</p>
                        </li>
                        <!-- Menu Body -->

                        <li class="p-t-3">
                            <a href="/sys-profile"> <i class="fa fa-fw ti-user"></i> My Profile </a>
                        </li>

                        <li role="presentation"></li>
                        <li>
                            <a href="#"> <i class="fa fa-fw ti-settings"></i> Account Settings </a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <!-- Menu Footer -->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="/logout"> <i class="fa fa-fw ti-lock"></i> Lock </a>
                            </div>
                            <div class="pull-right">
                                <a href="/logout"> <i class="fa fa-fw ti-shift-right"></i> Logout </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
