<script type="text/javascript" src="/js1/custom_js/sparkline/jquery.flot.spline.js"></script>
<!-- flip - -->
<script type="text/javascript" src="/vendors1/flip/js/jquery.flip.min.js"></script>
<script type="text/javascript" src="/vendors1/lcswitch/js/lc_switch.min.js"></script>
<!-- flot chart -->
<script type="text/javascript" src="/vendors1/flotchart/js/jquery.flot.js"></script>
<script type="text/javascript" src="/vendors1/flotchart/js/jquery.flot.resize.js"></script>
<script type="text/javascript" src="/vendors1/flotchart/js/jquery.flot.stack.js"></script>
<script type="text/javascript" src="/vendors1/flotspline/js/jquery.flot.spline.min.js"></script>
<script type="text/javascript" src="/vendors1/flot.tooltip/js/jquery.flot.tooltip.js"></script>
<!-- swiper -->
<script type="text/javascript" src="/vendors1/swiper/js/swiper.min.js"></script>
<!-- chartjs -->
<script src="/vendors1/chartjs/js/Chart.js"></script>
<!-- nvd3 chart -->
<script type="text/javascript" src="/js1/nvd3/d3.v3.min.js"></script>
<script type="text/javascript" src="/vendors1/nvd3/js/nv.d3.min.js"></script>
<script type="text/javascript" src="/vendors1/moment/js/moment.min.js"></script>
<script type="text/javascript" src="/vendors1/advanced_newsTicker/js/newsTicker.js"></script>
<script type="text/javascript" src="/js1/dashboard1.js"></script>

<script src="/vendors1/iCheck/js/icheck.js"></script>
<script src="/vendors1/moment/js/moment.min.js"></script>
<script src="/vendors1/select2/js/select2.js" type="text/javascript"></script>
<script src="/vendors1/bootstrapwizard/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
<script src="/vendors1/bootstrapvalidator/js/bootstrapValidator.min.js" type="text/javascript"></script>
<script src="/js1/custom_js/form_wizards.js" type="text/javascript"></script>

<!-- timeout of the pages after 1 minute of inactivity -->

<!--
    <script src="/js1/jquery.sessionTimeout.min.js"></script>
    <script src="/js1/custom_js/session_timeout.js" type="text/javascript"></script>
-->
