<div class="row">
    <div class="col-lg-6 col-xs-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel real-timechart">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 text-center">
                                <h3 class="">Real-Time Visits</h3>
                                <div class="real-value">
                                    <p><span></span>k</p>
                                </div>
                            </div>
                            <div class="col-xs-6 text-center">
                                <h3 class="">Returning Visitors</h3>
                                <div class="return-value">
                                    <p><span></span>k</p>
                                </div>
                            </div>
                        </div>
                        <div id="realtime-views" class="real-chart"></div>
                        <hr>
                        <div class="row ratings">
                            <div class="col-xs-4 text-center">
                                <h4>81%</h4>
                                <p>Satisfied</p>
                            </div>
                            <div class="col-xs-4 text-center">
                                <h4>8%</h4>
                                <p>Unsatisfied</p>
                            </div>
                            <div class="col-xs-4 text-center">
                                <h4>11%</h4>
                                <p>NA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="col-lg-6 col-xs-12">
        <div class="col-sm-12">
            <div class="panel main-chart">
                <div class="panel-heading panel-tabs">
                    <ul class="nav nav-tabs nav-float" role="tablist">
                        <li class="active text-center">
                            <a href="#home" role="tab" data-toggle="tab">Current Users</a>
                        </li>
                        <!-- <li class="text-center">
                                                                                    <a href="#profile" role="tab" data-toggle="tab"><span class="hidden-xs">Annual</span>
                                                                                        Revenue</a>
                                                                                </li> -->
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="home">
                            <div class="form-group">
                                <input type="checkbox" id="toggle_real" name="my-checkbox" data-size="small" checked>
                            </div>
                            <div id="live-chart" class="livechart-tab1 m-t-10"></div>
                        </div>
                        <div class="tab-pane fade" id="profile">
                            <div class="chart-container">
                                <span class="">
                                    <i class="ti-reload redraw-cart pull-right set-animate"></i>
                                </span>
                                <canvas id="dashboard-chart1" width="800" height="300"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>