<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="flip">
            <div class="widget-bg-color-icon card-box front">
                <div class="bg-icon pull-left">
                    <i class="ti-eye text-warning"></i>
                </div>
                <div class="text-right">
                    <h3 class="text-dark"><b>3752</b></h3>
                    <p>Registered Companies</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="widget-bg-color-icon card-box back">
                <div class="text-center">
                    <span id="loadspark-chart"></span>
                    <hr>
                    <p>Check summary</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="flip">
            <div class="widget-bg-color-icon card-box front">
                <div class="bg-icon pull-left">
                    <i class="ti-shopping-cart text-success"></i>
                </div>
                <div class="text-right">
                    <h3><b id="widget_count3">3251</b></h3>
                    <p>Total Site Users</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="widget-bg-color-icon card-box back">
                <div class="text-center">
                    <span class="linechart" id="salesspark-chart"></span>
                    <hr>
                    <p>Check summary</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="flip">
            <div class="widget-bg-color-icon card-box front">
                <div class="bg-icon pull-left">
                    <i class="ti-thumb-up text-danger"></i>
                </div>
                <div class="text-right">
                    <h3 class="text-dark"><b>1532</b></h3>
                    <p>Hits</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="widget-bg-color-icon card-box back">
                <div class="text-center">
                    <span id="visitsspark-chart"></span>
                    <hr>
                    <p>Check summary</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="flip">
            <div class="widget-bg-color-icon card-box front">
                <div class="bg-icon pull-left">
                    <i class="ti-user text-info"></i>
                </div>
                <div class="text-right">
                    <h3 class="text-dark"><b>1252</b></h3>
                    <p>Subscribers</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="widget-bg-color-icon card-box back">
                <div class="text-center">
                    <span id="subscribers-chart"></span>
                    <hr>
                    <p>Check summary</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>