@import "@material/textfield/mdc-text-field";
@import url(https://fonts.googleapis.com/css?family=Gudea:400,700);

#LoginContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(-45deg, #43e97b 0%, #38f9d7 100%);
    justify-content: center;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
}

#LoginContent content {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    /* background-image: url(http://creativeit.io/material-dashboard-lite/images/Dark_background_1920x1080.png); */
}

#LoginContent form img {
    max-width: 5.5em;
}

#LoginContent form h2 {
    font-family: Roboto;
    margin-top: 1.5em;
    font-size: 1.3em;
    color: #dedede;
    font-weight: 300;
}

.inputContainer {
    /* background: #2d303c; */
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    width: 30em;
    margin-left: 0em;
    height: 3em;
    display: flex;
    align-items: center;
    margin-top: 5em;
    border-top: 2px solid #393d52;
    border-bottom: 2px solid #393d52;
    position: relative
}

.inputContainer img {
    position: absolute;
    left: 1.1em;
    opacity: .5;
    transition: .3s ease-out;
}

.inputContainer input {
    background: none;
    border: none;
    margin-left: 4em;
    color: #afb1be;
    height: 100%;
    width: 27em;
}

.second {
    margin-top: 1em;
}

input:focus {
    outline: none;
}

.inputContainer:focus .icon {
    opacity: 1;
}

body {
    -webkit-perspective: 800px;
    perspective: 800px;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Gudea', sans-serif;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EA5C54 ', endColorstr='#bb6dec', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

body ::-webkit-input-placeholder {
    color: #4E546D;
}

body .authent {
    display: none;
    background: #35394a;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: linear-gradient(45deg, #f093fb 0%, #f5576c 100%);
    /* background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%); */
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#35394a', endColorstr='#1f222e', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    position: absolute;
    left: 0;
    right: 90px;
    margin: auto;
    width: 10em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 70px;
    top: 200px;
    bottom: 0;
    height: 15em;
    opacity: 0;
}

.logo {
    position: absolute;
    top: 3%;
    max-width: 8%;
    left: 4%
}

.logoAutenticacao {
    max-width: 49%;
    margin-right: 3em;
    margin-left: 2.5em;
    margin-top: 1em;
    margin-bottom: 2em;

}

body .authent p {
    text-align: center;
    color: white;
}

body .feedback {
    display: none;
    color: #d5d8e2;
}

body .feedback p {
    font-size: 14px;
}

body p {
    color: #5B5E6F;
    font-size: .7em;
    text-align: left;
}

body .testtwo {
    left: -320px !important;
}

body .test {
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
    pointer-events: none;
    top: -100px !important;
    -webkit-transform: rotateX(70deg) scale(0.8) !important;
    transform: rotateX(70deg) scale(0.8) !important;
    opacity: .6 !important;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

body .login {
    opacity: 1;
    top: 20px;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
    transition-property: opacity, box-shadow, top, left, -webkit-transform;
    transition-property: transform, opacity, box-shadow, top, left;
    transition-property: transform, opacity, box-shadow, top, left, -webkit-transform;
    transition-duration: .5s;
    -webkit-transform-origin: 161px 100%;
    transform-origin: 161px 100%;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    position: relative;
    width: 22em;
    border-top: 2px solid #0097af;
    height: 29em;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    padding: 38px 40px 40px 40px;
    background: #35394a;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#35394a', endColorstr='#1f222e', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.login h3 {
    color: #a4a6b3;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: .31em;
}

.SaavHeader p {
    font-size: .8em;
    margin-bottom: 4em;
}

body .login .validation {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 15px;
    opacity: 0;
}

body .login .disclaimer {
    position: absolute;
    bottom: 20px;
    left: 35px;
    width: 250px;
}

body .login_title {
    color: #afb1be;
    height: 60px;
    text-align: left;
    font-size: 16px;
}

body .login_fields {
    height: 208px;
    position: absolute;
    left: 0;
    width: 100%;
}

body .login_fields .icon {
    position: absolute;
    z-index: 1;
    left: 36px;
    top: 15px;
    opacity: .5;
}

body .login_fields input[type='password'] {
    color: #0097af !important;
}

body .login_fields input[type='text'],
body .login_fields input[type='password'] {
    color: #afb1be;
    width: 70%;
    margin-top: -2px;
    background: #32364a;
    left: 0;
    padding: 10px 65px;
    border-top: 2px solid #393d52;
    border-bottom: 2px solid #393d52;
    border-right: none;
    border-left: none;
    outline: none;
    font-family: 'Gudea', sans-serif;
    box-shadow: none;
    height: 2em;
}

body .login_fields__user,
body .login_fields__password {
    position: relative;
}

body .login_fields__submit {
    position: relative;
    top: 35px;
    left: 0;
    width: 80%;
    right: 0;
    margin: auto;
}

body .login_fields__submit .forgot {
    float: right;
    font-size: 10px;
    margin-top: 11px;
    text-decoration: underline;
}

body .login_fields__submit .forgot a {
    color: #606479;
    font-size: 1.2em;
}

body .login_fields__submit input {
    border-radius: 50px;
    background: transparent;
    padding: 10px 50px;
    border: 2px solid #0097af;
    color: #0097af;
    text-transform: uppercase;
    font-size: 11px;
    transition-property: background, color;
    transition-duration: .2s;
}

body .login_fields__submit input:focus {
    box-shadow: none;
    outline: none;
}

body .login_fields__submit input:hover {
    color: white;
    background: #0097af;
    cursor: pointer;
    transition-property: background, color;
    transition-duration: .2s;
}

/* Color Schemes */
.feedback h2 {
    margin-bottom: 1em;
}

.love {
    position: absolute;
    right: 20px;
    bottom: 0px;
    font-size: 11px;
    font-weight: normal;
}

.love p {
    color: white;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

.love a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.love img {
    position: relative;
    top: 3px;
    margin: 0px 4px;
    width: 10px;
}

.brand {
    position: absolute;
    left: 20px;
    bottom: 14px;
}

.brand img {
    width: 30px;
}

.dribbble {
    position: absolute;
    right: 3%;
    top: 4%;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.dribbble img {
    max-width: 1.5em;
    margin-right: .6em;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}