<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Account confirmation</title>
</head>

<body>
    <div>Hello
        <%= email %>, your confirmation code is
        <%= code %>
    </div>
    <% if(typeof password != "undefined") { %>
    <div>Your password is,
        <%= password %>
    </div>
    <% } %>
</body>

</html>