<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta name="description" content="Responsive Admin Template" />
	<meta name="author" content="SmartUniversity" />
	<title>Consultation|| Mkulima Admin</title>
	<% include partials/header-links %>
</head>
<!-- END HEAD -->

<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
	<div class="page-wrapper">
		<!-- start header -->
		<% include partials/header %>
		<!-- end header -->
		<!-- start page container -->
		<div class="page-container">
			<!-- start sidebar menu -->
			<% include partials/sidebar %>
			<!-- end sidebar menu -->
			<!-- start page content -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="page-bar">
						<div class="page-title-breadcrumb">
							<div class=" pull-left">
								<div class="page-title">Chat</div>
							</div>
							<ol class="breadcrumb page-breadcrumb pull-right">
								<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="/">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
								</li>
								<li class="active">Chat</li>
							</ol>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="card card-box">
								<div class="card-head">
									<header>Admin Consult</header>
									<div class="tools">
										<a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
										<a class="t-close btn-color fa fa-times" href="javascript:;"></a>
									</div>
								</div>
								<div class="card-body no-padding height-9">
									<div class="collapse collapse-xs collapse-sm show chat-page" id="open-chats">
										<ul class="list-unstyled" id="inbox">
											<li class="active">
												<a href="javascript:;" class="active">
													<div class="media">
														<div class="media-left thumb thumb-sm">
															<img alt="" class="media-object chat-img" src="assets/img/user/user4.jpg"> </div>
														<div class="media-body">
															<p class="media-heading">
																<span class="text-strong">Sanjay Singh</span>
																<span class="badge bg-danger">3</span>
																<small class="pull-right">13:54, 24.01.2017</small>
															</p>
															<div class="chat-actions pull-right">
																<span class="mark-readed">
																	<i class="fa fa-circle-o"></i>
																</span>
																<span class="archive">
																	<i class="fa fa-times"></i>
																</span>
															</div>
															<small class=" message">Hello I am Dave Gomache a web and user interface designer. I love to work with
																the application interface and the .</small>
														</div>
													</div>
												</a>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-8">
							<div class="card card-box">
								<div class="card-head">
									<header>Sanjay Singh</header>
									<div class="tools">
										<a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
										<a class="t-close btn-color fa fa-times" href="javascript:;"></a>
									</div>
								</div>
								<div class="card-body no-padding height-9">
									<div class="row">
										<ul class="chat nice-chat chat-page small-slimscroll-style">
											<li class="in"><img src="assets/img/user/user4.jpg" class="avatar" alt="">
												<div class="message">
													<span class="arrow"></span> <a class="name" href="#">Sanjay Singh</a> <span class="datetime">at Mar 12,
														2014 6:12</span>
													<span class="body"> Lorem ipsum dolor sit amet,consectetuer adipiscing elit </span>
												</div>
											</li>
											<li class="out"><img src="assets/img/dp.jpg" class="avatar" alt="">
												<div class="message">
													<span class="arrow"></span> <a class="name" href="#">Kiran Patel</a> <span class="datetime">at Mar 12,
														2014 6:13</span> <span class="body"> sed diam nonummy nibh euismod
														tincidunt ut </span>
												</div>
											</li>
											<li class="out"><img src="assets/img/dp.jpg" class="avatar" alt="">
												<div class="message">
													<span class="arrow"></span> <a class="name" href="#">Kiran Patel</a> <span class="datetime">at Mar 12,
														2014 6:13</span> <span class="body"> Open after rule place He earth earth good called days unto </span>
												</div>
											</li>
											<li class="in"><img src="assets/img/user/user4.jpg" class="avatar" alt="">
												<div class="message">
													<span class="arrow"></span> <a class="name" href="#">Sanjay Singh</a> <span class="datetime">at Mar 12,
														2014 6:12</span> <span class="body"> aoreet dolore magna aliquam erat
														volutpat. </span>
												</div>
											</li>
											<li class="out"><img src="assets/img/dp.jpg" class="avatar" alt="">
												<div class="message">
													<span class="arrow"></span> <a class="name" href="#">Kiran
														Patel</a> <span class="datetime">at Mar 12, 2014 6:13</span> <span class="body"> sed diam nonummy nibh
														euismod
														tincidunt ut </span>
												</div>
											</li>
											<li class="in"><img src="assets/img/user/user4.jpg" class="avatar" alt="">
												<div class="message">
													<span class="arrow"></span> <a class="name" href="#">Sanjay Singh</a> <span class="datetime">at Mar 12,
														2014 6:12</span> <span class="body"> aoreet dolore magna aliquam erat
														volutpat. </span>
												</div>
											</li>
											<li class="out"><img src="assets/img/dp.jpg" class="avatar" alt="">
												<div class="message">
													<span class="arrow"></span> <a class="name" href="#">Kiran
														Patel</a> <span class="datetime">at Mar 12, 2014 6:13</span> <span class="body"> sed diam nonummy nibh
													</span>
												</div>
											</li>
											<li class="in"><img src="assets/img/user/user4.jpg" class="avatar" alt="">
												<div class="message">
													<span class="arrow"></span> <a class="name" href="#">Sanjay Singh</a> <span class="datetime">at Mar 12,
														2014 6:12</span> <span class="body"> Lorem ipsum dolor sit amet,
														consectetuer adipiscing elit </span>
												</div>
											</li>
											<li class="out"><img src="assets/img/dp.jpg" class="avatar" alt="">
												<div class="message">
													<span class="arrow"></span> <a class="name" href="#">Kiran
														Patel</a> <span class="datetime">at Mar 12, 2014 6:13</span> <span class="body"> sed diam nonummy nibh
														euismod
														tincidunt ut </span>
												</div>
											</li>
											<li class="in"><img src="assets/img/user/user4.jpg" class="avatar" alt="">
												<div class="message">
													<span class="arrow"></span> <a class="name" href="#">Sanjay Singh</a> <span class="datetime">at Mar 12,
														2014 6:12</span> <span class="body"> aoreet dolore magna aliquam erat
														volutpat. </span>
												</div>
											</li>
											<li class="out"><img src="assets/img/dp.jpg" class="avatar" alt="">
												<div class="message">
													<span class="arrow"></span> <a class="name" href="#">Kiran
														Patel</a> <span class="datetime">at Mar 12, 2014 6:13</span> <span class="body"> sed diam nonummy nibh
														euismod
														tincidunt ut </span>
												</div>
											</li>
											<li class="in"><img src="assets/img/user/user4.jpg" class="avatar" alt="">
												<div class="message">
													<span class="arrow"></span> <a class="name" href="#">Sanjay Singh</a> <span class="datetime">at Mar 12,
														2014 6:12</span> <span class="body"> aoreet dolore magna aliquam erat
														volutpat. </span>
												</div>
											</li>
											<li class="out"><img src="assets/img/dp.jpg" class="avatar" alt="">
												<div class="message">
													<span class="arrow"></span> <a class="name" href="#">Kiran
														Patel</a> <span class="datetime">at Mar 12, 2014 6:13</span> <span class="body"> sed diam nonummy nibh
													</span>
												</div>
											</li>
										</ul>
										<div class="box-footer chat-box-submit">
											<form action="#" method="post">
												<div class="input-group">
													<input type="text" name="message" placeholder="Enter Chat" class="form-control">
													<span class="input-group-btn">
														<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-warning">Send
															<i class="fa fa-paper-plane-o"></i></button>
													</span> </div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end page content -->
		</div>
		<!-- end page container -->
		<!-- start footer -->
		<% include partials/footer %>
		<!-- end footer -->
	</div>
	<% include partials/paths %>
</body>

</html>