<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="SmartUniversity" />
    <title>All Adminstrators|| Mkulima Farmer</title>
    <% include partials/header-links %>
</head>
<!-- END HEAD -->

<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
    <div class="page-wrapper">
        <!-- start header -->
        <% include partials/header %>
        <!-- end header -->
        <!-- start page container -->
        <div class="page-container">
            <!-- start sidebar menu -->
            <% include partials/sidebar %>
            <!-- end sidebar menu -->
            <!-- end sidebar menu -->
            <!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">All Adminstrators</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i
                                        class="fa fa-angle-right"></i>
                                </li>
                                <li><a class="parent-item" href="">Adminstrators</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li class="active">All Adminstrators</li>
                            </ol>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-topline-aqua">
                                <div class="card-body no-padding height-9">
                                    <div class="row">
                                        <div class="profile-userpic">
                                            <img src="/img/dp.jpg" class="img-responsive" alt=""> </div>
                                    </div>
                                    <div class="profile-usertitle">
                                        <div class="profile-usertitle-name"> John Deo </div>
                                    </div>
                                    <ul class="list-group list-group-unbordered">
                                        <li class="list-group-item">
                                            <b>Name</b> <a class="pull-right">Name</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Profession</b> <a class="pull-right">crop farming </a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Location</b> <a class="pull-right">Kangundo</a>
                                        </li>
                                    </ul>
                                    <!-- END SIDEBAR USER TITLE -->
                                    <!-- SIDEBAR BUTTONS -->
                                    <div class="row list-separated profile-stat">
                                        <div class="col-md-4 col-sm-4 col-6">
                                            <div class="uppercase profile-stat-title"> 37 </div>
                                            <div class="uppercase profile-stat-text"> Farmers </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-6">
                                            <div class="uppercase profile-stat-title"> 51 </div>
                                            <div class="uppercase profile-stat-text"> Points </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-6">
                                            <div class="uppercase profile-stat-title"> 61 </div>
                                            <div class="uppercase profile-stat-text"> Replies </div>
                                        </div>
                                    </div>
                                    <!-- END SIDEBAR BUTTONS -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end page content -->

    </div>
    <!-- end page container -->
    <% include partials/footer %>
    <!-- end footer -->
    </div>
    <% include partials/paths %>
</body>

</html>