<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta name="description" content="Responsive Admin Template" />
	<meta name="author" content="SmartUniversity" />
	<title>Edit Profile || Mkulima Farmer</title>
	<% include partials/header-links %>
</head>
<!-- END HEAD -->

<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
	<div class="page-wrapper">
		<!-- start header -->
		<% include partials/header %>
		<!-- end header -->
		<!-- start page container -->
		<div class="page-container">
			<!-- start sidebar menu -->
			<% include partials/sidebar %>
			<!-- end sidebar menu -->
			<!-- start page content -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="page-bar">
						<div class="page-title-breadcrumb">
							<div class=" pull-left">
								<div class="page-title">Edit My Profile</div>
							</div>
							<ol class="breadcrumb page-breadcrumb pull-right">
								<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
								</li>
								<li><a class="parent-item" href="">Profile</a>&nbsp;<i class="fa fa-angle-right"></i>
								</li>
								<li class="active">Edit My Profile</li>
							</ol>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="card-box">
								<div class="card-head">
									<header>Edit My Profile</header>

								</div>
								<form>
									<div class="card-body row">
										<div class="col-lg-6 p-t-20">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
												<input class="mdl-textfield__input" type="text" required id="txtFirstName">
												<label class="mdl-textfield__label">First Name</label>
											</div>
										</div>
										<div class="col-lg-6 p-t-20">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
												<input class="mdl-textfield__input" type="text" required id="txtLasttName">
												<label class="mdl-textfield__label">Last Name</label>
											</div>
										</div>
										<div class="col-lg-6 p-t-20">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
												<input class="mdl-textfield__input" type="email" required id="txtemail">
												<label class="mdl-textfield__label">Email</label>
												<span class="mdl-textfield__error">Enter Valid Email Address!</span>
											</div>
										</div>
										<div class="col-lg-6 p-t-20">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
												<input class="mdl-textfield__input" type="text" required id="sample2" value="" readonly tabIndex="-1">
												<label for="sample2" class="pull-right margin-0">
													<i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
												</label>
												<label for="sample2" class="mdl-textfield__label">Gender</label>
												<ul data-mdl-for="sample2" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
													<li class="mdl-menu__item" data-val="DE">Male</li>
													<li class="mdl-menu__item" data-val="BY">Female</li>
												</ul>
											</div>
										</div>
										<div class="col-lg-6 p-t-20">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
												<input class="mdl-textfield__input" required type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="text5">
												<label class="mdl-textfield__label" for="text5">Mobile Number</label>
												<span class="mdl-textfield__error">Number required!</span>
											</div>
										</div>

										<div class="col-lg-6 p-t-20">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
												<input class="mdl-textfield__input" type="text" required id="list3" value="" readonly tabIndex="-1">
												<label for="list3" class="pull-right margin-0">
													<i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
												</label>
												<label for="list3" class="mdl-textfield__label">Category Type</label>
												<ul data-mdl-for="list3" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
													<li class="mdl-menu__item" data-val="1">Livestock</li>
													<li class="mdl-menu__item" data-val="2">Dairy</li>
													<li class="mdl-menu__item" data-val="3">crop</li>
												</ul>
											</div>
										</div>
										<div class="col-lg-6 p-t-20">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
												<input class="mdl-textfield__input" type="password" required id="password">
												<label class="mdl-textfield__label">Update Password</label>
											</div>
										</div>
										<div class="col-lg-6 p-t-20">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
												<input class="mdl-textfield__input" type="password" required id="password">
												<label class="mdl-textfield__label">Repeat New Password</label>
											</div>
										</div>


										<div class="row">
											<div class="col-lg-12">
												<div class="card-box">
													<div class="card-head">
														<header>Upload Profile Picture</header>

													</div>
													<div class="card-body row">
														<div class="col-lg-12 p-t-20">
															<form id="id_dropzone" class="dropzone">
																<div class="dz-message">
																	<div class="dropIcon">
																		<i class="material-icons">cloud_upload</i>
																	</div>
																	<em>Drop files here or click to upload.</em>

																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-lg-12 p-t-20 text-center">
											<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink">Submit</button>
											<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default">Cancel</button>
										</div>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end page content -->

		</div>
		<!-- end page container -->
		<!-- start footer -->
		<!-- start footer -->
		<% include partials/footer %>
		<!-- end footer -->
	</div>
	<% include partials/paths %>
</body>

</html>