<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Companies || System Admin </title>
    <% include partials/header-links %>
</head>

<body class="skin-default">
    <% include partials/preloader %>
    <!-- header logo: style can be found in header-->
    <% include partials/header %>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <% include partials/aside %>
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <!--section starts-->
                <h1>Companies </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="/">
                            <i class="fa fa-fw ti-home"></i> Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#">Companies </a>
                    </li>
                    <li class="active">
                        Companies
                    </li>
                </ol>
            </section>
            <!--section ends-->
            <!--section ends-->
            <section class="content">
                <!--main content-->
                <div class="row m-t-10">

                    <div class="col-md-4">
                        <div class="card-box p-0">
                            <div class="profile-widget text-center">
                                <div class="bg-custom1 bg-profile"></div>
                                <img src="/img1/images/avatar1.jpg" class="thumb-lg img-circle img-thumbnail" alt="img"
                                    height="95" width="95">
                                <h4>Company Name</h4>
                                <p><i class="ti-location-pin"></i> Profession</p>
                                <a href="#" class="btn btn-sm btn-success m-t-20">Officers <span class="pull-right badge ">12</span></a>
                                <a href="#" class="btn btn-sm btn-info m-t-20">Farmers<span class="pull-right badge ">12</span></a>
                                <div class="">
                                    <a href="#" class="btn btn-md btn-success m-t-20">Email :<span class="pull-right badge ">info@oratech.co.ke</span></a>
                                    <a href="#" class="btn btn-md btn-alert m-t-20">Phone :<span class="pull-right badge ">0719856029</span></a>
                                    <div class="panel-body p-b-0">
                                        <div class="bg-custom2  p-20 text-center row">
                                            <div class="col-xs-4">
                                                <h4 class="text-white">782</h4>
                                                <p class="text-white">Consults</p>
                                            </div>
                                            <div class="col-xs-4">
                                                <h4 class="text-white">834</h4>
                                                <p class="text-white">Replies</p>
                                            </div>
                                            <div class="col-xs-4">
                                                <h4 class="text-white">2907</h4>
                                                <p class="text-white">Amount</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="background-overlay"></div>
            </section>
            <!-- /.content -->
        </aside>
        <!-- /.right-side -->
    </div>

    <script src="/js1/app.js" type="text/javascript"></script>
    <!-- end of global js -->
    <% include partials/scripts %>
    <!-- end of page level js -->
</body>

</html>