<!DOCTYPE html>
<html>

<head>
    <% include partials/header-links %>
</head>

<body class="skin-default">
    <div class="preloader">
        <div class="loader_img"><img src="/img1/loader.gif" alt="loading..." height="64" width="64" /></div>
    </div>
    <!-- header logo: style can be found in header -->
    <% include partials/header %>

    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <% include partials/aside %>
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <!-- section starts -->
                <h1>Register Company</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="/sys-dashboard"> <i class="fa fa-fw ti-home"></i> Dashboard </a>
                    </li>
                    <li><a href="/#">Registration</a></li>
                    <li class="active">Register</li>
                </ol>
            </section>
            <!-- section ends -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel ">
                            <div class="panel-heading">
                                <h3 class="panel-title">Register Company</h3>
                                <span class="pull-right"> <i class="fa fa-fw ti-angle-up clickable"></i> </span>
                            </div>
                            <div class="panel-body">
                                <div class="stepwizard">
                                    <div class="stepwizard-row setup-panel">
                                        <div class="stepwizard-step">
                                            <a href="#step-1" class="btn btn-primary btn-block">1</a>
                                            <p>Step 1</p>
                                        </div>
                                        <div class="stepwizard-step">
                                            <a href="#step-2" class="btn btn-default btn-block">2</a>
                                            <p>Step 2</p>
                                        </div>
                                        <div class="stepwizard-step">
                                            <a href="#step-3" class="btn btn-default btn-block">3</a>
                                            <p>Step 3</p>
                                        </div>
                                    </div>
                                </div>
                                <form role="form" id="registerCompanyForm" method="POST">
                                    <div class="row setup-content" id="step-1">
                                        <div class="col-xs-12">
                                            <div class="col-md-12">
                                                <h3>Step 1 (Company registration)</h3>
                                                <div class="form-group">
                                                    <label for="step_cname" class="control-label">Company Name</label>
                                                    <input id="step_cname" name="companyname" maxlength="200" type="text"
                                                        class="form-control" placeholder="Enter Company Name" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="step_cadd" class="control-label">Company Address</label>
                                                    <input id="step_cadd" name="companyaddress" maxlength="200" type="text"
                                                        class="form-control" placeholder="Enter Company Address" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="step_mail" class="control-label">Company email</label>
                                                    <input id="step_mail" name="companyemail" type="email" class="form-control"
                                                        placeholder="Company email" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="step_cpwd" class="control-label">Location</label>
                                                    <input id="step_cpwd" name="location" type="text" class="form-control"
                                                        placeholder="Physical location" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Description</label>
                                                    <textarea class="form-control" rows="4" name="sidenote" placeholder="Description about the company"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="step_logo" class="control-label">Logo</label>
                                                    <input id="step_logo" name="avatar" type="file" class="form-control"
                                                        placeholder="Company logo" />
                                                </div>
                                                <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row setup-content" id="step-2">
                                        <div class="col-xs-12">
                                            <div class="col-md-12">
                                                <h3>Step 2 (Super admin registration)</h3>

                                                <% if(companies.length) { %>
                                                <div class="form-group">
                                                    <label for="step_company" class="control-label">Company to register</label>
                                                    <select name="company" required class="form-control" id="step_company">
                                                        <option disabled selected>Select company</option>
                                                        <% for(var i=0; i< companies.length; i++) { %>
                                                        <option value="<%= companies[i]._id %>">
                                                            <%= companies[i].name %>
                                                        </option>
                                                        <% } %>
                                                    </select>
                                                </div>
                                                <% } %>

                                                <div class="form-group">
                                                    <label for="step_fname" class="control-label">First Name</label>
                                                    <input id="step_fname" name="firstname" maxlength="100" type="text"
                                                        required class="form-control" placeholder="Enter First Name" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="step_lname" class="control-label">Last Name</label>
                                                    <input id="step_lname" name="secondname" maxlength="100" type="text"
                                                        required class="form-control" placeholder="Enter Last Name" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="step_email" class="control-label">Email address</label>
                                                    <input id="step_email" name="email" maxlength="100" type="email"
                                                        required class="form-control" placeholder="Enter Email Address" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="step_phone" class="control-label">Phone number</label>
                                                    <input id="step_phone" name="phone" maxlength="100" type="tel"
                                                        required class="form-control" placeholder="Phone number" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="step_id" class="control-label">ID Number</label>
                                                    <input id="step_id" name="idnumber" maxlength="100" type="text"
                                                        required class="form-control" placeholder="ID number" />
                                                </div>
                                                <button class="btn btn-primary prevBtn pull-left" type="button">Previous</button>
                                                <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row setup-content" id="step-3">
                                        <div class="col-xs-12">
                                            <div class="col-md-12">
                                                <h3>Step 3 (Agree to terms & conditions)</h3>
                                                <div class="form-group">
                                                    <label for="acceptTerms1">
                                                        <input id="acceptTerms1" name="acceptTerms" type="checkbox"
                                                            class="custom-checkbox" /> I agree with the
                                                        <a href="javascript:void(0)">terms &amp; Conditions</a>.
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-primary prevBtn pull-left" type="button">Previous</button>
                                                    <button class="btn btn-success pull-right" type="submit">Finish!</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- rightside bar -->

                <div class="background-overlay"></div>
            </section>
            <!-- content -->
        </aside>
        <!-- /.right-side -->
    </div>
    <!-- ./wrapper -->
    <!-- global js -->
    <script src="/js1/app.js" type="text/javascript"></script>
    <!-- end of global js -->
    <!-- begining of page level js -->
    <script src="/vendors1/iCheck/js/icheck.js"></script>
    <script src="/vendors1/moment/js/moment.min.js"></script>
    <script src="/vendors1/select2/js/select2.js" type="text/javascript"></script>
    <script src="/vendors1/bootstrapwizard/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
    <script src="/vendors1/bootstrapvalidator/js/bootstrapValidator.min.js" type="text/javascript"></script>
    <script src="/js1/custom_js/form_wizards.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js1/sysadmin.js"></script>

    <!-- end of page level js -->
</body>

</html>