<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Dashboard ||System Admin</title>
        <% include partials/header-links %>
    </head>

    <body class="skin-default">
        <% include partials/preloader %>
        <!-- header logo: style can be found in header -->
        <% include partials/header %>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <% include partials/aside %>
            <aside class="right-side">
                <section class="content-header">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-8">
                            <div class="header-element">
                                <h3>System Adminstrator/ <small>Dashboard</small></h3>
                            </div>
                        </div>
                        <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-7 col-xs-4">
                            <div class="header-object">
                                <span class="option-search pull-right hidden-xs">
                                    <span class="search-wrapper"> <input type="text" placeholder="Search here" /><i class="ti-search"></i> </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="content"><% include components/overview %> <% include components/live-feeds %></section>
            </aside>
        </div>
        <!-- rightside bar -->

        <!-- /#right -->
        <div class="background-overlay"></div>
        <!-- /.content -->
        <!-- /.right-side -->
        <!-- ./wrapper -->
        <!-- global js -->
        <!-- <div id="qn"></div> -->

        <script src="/js1/app.js" type="text/javascript"></script>
        <!-- end of global js -->

        <!-- begining of page level js -->
        <!-- Sparkline Chart -->
        <% include partials/scripts %>
        <script type="text/javascript" src="/js1/sysadmin.js"></script>

        <!-- end of page level js -->
    </body>
</html>
