<!DOCTYPE html>
<html lang="en">
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="description" content="Responsive Admin Template" />
        <meta name="author" content="SmartUniversity" />
        <title>Consultation|| Mkulima Farmer</title>
        <% include partials/header-links %>
    </head>
    <!-- END HEAD -->

    <body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
        <div class="page-wrapper">
            <!-- start header -->
            <% include partials/header %>
            <!-- end header -->
            <!-- start page container -->
            <div class="page-container">
                <!-- start sidebar menu -->
                <% include partials/sidebar %>
                <!-- end sidebar menu -->
                <!-- start page content -->
                <div class="page-content-wrapper">
                    <div class="page-content">
                        <div class="page-bar">
                            <div class="page-title-breadcrumb">
                                <div class=" pull-left"><div class="page-title">Chat</div></div>
                                <ol class="breadcrumb page-breadcrumb pull-right">
                                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="/farmer">Home</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                                    <li class="active">Chat</li>
                                </ol>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-head">
                                        <header>Admin Info</header>
                                        <div class="tools">
                                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a> <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                        </div>
                                    </div>
                                    <div class="card-body no-padding height-9">
                                        <div class="collapse collapse-xs collapse-sm show chat-page" id="open-chats">
                                            <ul class="list-unstyled" id="inbox">
                                                <% if(admin) { %>
                                                <li class="active consultations" data-user="<%= admin._id %>">
                                                    <a href="javascript:;" class="active">
                                                        <div class="media">
                                                            <div class="media-left thumb thumb-sm"><img alt="" class="media-object chat-img" src="assets/img/user/user4.jpg" /></div>
                                                            <div class="media-body">
                                                                <p class="media-heading"><span class="text-strong username"> <%= admin.name %></span></p>
                                                                <div class="chat-actions pull-right"><span class="mark-readed badge badge-dark"> </span></div>
                                                                <small class=" message"> <%= admin.phone %></small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-head">
                                        <header id="username">Select user to start chart.</header>
                                        <div class="tools">
                                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a> <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                        </div>
                                    </div>
                                    <div class="card-body no-padding height-9">
                                        <div class="row">
                                            <div
                                                id="chatprogressindicator"
                                                class="h-100 w-100 d-none justify-content-center align-items-center"
                                                style="z-index: 9999; background-color: rgba(0, 0, 0, 0.4);
                                                        position: absolute; top: 0; left: 0;"
                                            >
                                                <div class="lds-spinner">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </div>
                                            <ul class="chat nice-chat chat-page small-slimscroll-style w-100">
                                                <!-- chat box -->
                                                <div class="h-100 d-flex w-100 align-items-center text-center"><div>Start a conversation from left.</div></div>
                                            </ul>
                                            <div class="box-footer chat-box-submit">
                                                <form action="#" method="post" id="chatForm" disabled>
                                                    <div class="input-group">
                                                        <input type="text" name="message" autocomplete="off" placeholder="Enter Chat" class="form-control" />
                                                        <span class="input-group-btn">
                                                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-warning">
                                                                Send <i class="fa fa-paper-plane-o"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page content -->
            </div>
            <!-- end page container -->
            <!-- start footer -->
            <% include partials/footer %>
            <!-- end footer -->
        </div>
        <% include partials/paths %>
    </body>
</html>
