<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="SmartUniversity" />
    <title>User Profile || Mkulima Farmer</title>
    <% include partials/header-links %>
</head>
<!-- END HEAD -->

<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
    <div class="page-wrapper">
        <!-- start header -->
        <% include partials/header %>
        <!-- end header -->
        <!-- start page container -->
        <div class="page-container">
            <!-- start sidebar menu -->
            <% include partials/sidebar %>
            <!-- end sidebar menu -->
            <!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">User Profile</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="/farmer">Home</a>&nbsp;<i
                                        class="fa fa-angle-right"></i></li>
                                <li><a class="parent-item" href="">Profile</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                                <li class="active">User Profile</li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN PROFILE SIDEBAR -->
                            <div class="profile-sidebar">
                                <div class="card card-topline-aqua">
                                    <div class="card-body no-padding height-9">
                                        <div class="row">
                                            <div class="profile-userpic"><img src="/img/<%= farmer.avatar.path %>"
                                                    class="img-responsive" alt="" /></div>
                                        </div>
                                        <div class="profile-usertitle">
                                            <div class="profile-usertitle-name">
                                                <%= farmer.name %>
                                            </div>
                                            <div class="profile-usertitle-job">
                                                <% if(farmer.expertise){ %>
                                                <%= farmer.expertise.split('')[0].toUpperCase() + farmer.expertise.slice(1) %>
                                                <% } %>
                                            </div>
                                        </div>
                                        <ul class="list-group list-group-unbordered">
                                            <li class="list-group-item"><b>Phone</b> <a class="pull-right">
                                                    <%= farmer.phone %></a></li>
                                            <li class="list-group-item"><b>Email</b> <a class="pull-right">
                                                    <%= farmer.email %></a></li>
                                            <li class="list-group-item"><b>ID Number</b> <a class="pull-right">
                                                    <%= farmer.idnumber %></a></li>
                                        </ul>
                                        <!-- END SIDEBAR USER TITLE -->
                                        <!-- SIDEBAR BUTTONS -->
                                        <!--
                                                <div class="profile-userbuttons">
                                                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btn-primary">Follow</button>
                                                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btn-pink">Message</button>
                                                </div>
                                            -->
                                        <!-- END SIDEBAR BUTTONS -->
                                    </div>
                                </div>
                            </div>
                            <div class="profile-sidebar">
                                <div class="card">
                                    <div class="card-head card-topline-aqua">
                                        <header>Description</header>
                                    </div>
                                    <div class="card-body no-padding height-9">
                                        <div class="profile-desc">
                                            <%= farmer.about %>
                                        </div>
                                        <ul class="list-group list-group-unbordered">
                                            <li class="list-group-item">
                                                <b>Gender </b>
                                                <div class="profile-desc-item pull-right">
                                                    <%= farmer.gender.split('')[0].toUpperCase() + farmer.gender.slice(1) %>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Operation Done </b>
                                                <div class="profile-desc-item pull-right">30+</div>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Sector</b>
                                                <div class="profile-desc-item pull-right">
                                                    <% if(farmer.expertise){ %>
                                                    <%= farmer.expertise.split('')[0].toUpperCase() + farmer.expertise.slice(1) %>
                                                    <% } %>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="row list-separated profile-stat">
                                            <div class="col-md-6 col-sm-6 col-6">
                                                <div class="uppercase profile-stat-title">
                                                    <%= farmer.received.length %>
                                                </div>
                                                <div class="uppercase profile-stat-text">Consultations</div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-6">
                                                <div class="uppercase profile-stat-title">
                                                    <%= farmer.replies.length %>
                                                </div>
                                                <div class="uppercase profile-stat-text">Replies</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-sidebar">
                                <div class="card">
                                    <div class="card-head card-topline-aqua">
                                        <header>Location</header>
                                    </div>
                                    <div class="card-body no-padding height-9">
                                        <div class="row text-center m-t-10">
                                            <div class="col-md-12">
                                                <p>
                                                    <%= farmer.location %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-head card-topline-aqua">
                                        <header>Admin Name</header>
                                    </div>
                                    <div class="card-body no-padding height-9">
                                        <div class="row text-center m-t-10">
                                            <div class="col-md-12">
                                                <p>
                                                    <%= farmer.officer[0].name %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-head card-topline-aqua">
                                        <header>Work Expertise</header>
                                    </div>
                                    <div class="card-body no-padding height-9">
                                        <div class="work-monitor work-progress">
                                            <div class="states">
                                                <div class="info">
                                                    <div class="desc pull-left">Java</div>
                                                    <div class="percent pull-right">75%</div>
                                                </div>
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar progress-bar-danger progress-bar-striped active width-75"
                                                        role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                                        aria-valuemax="100">
                                                        <span class="sr-only">75% </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end chat sidebar -->
            </div>
            <!-- end page container -->
            <!-- start footer -->
            <% include partials/footer %>
            <!-- end footer -->
        </div>
        <% include partials/paths %>
    </div>
</body>

</html>