<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li>
                    <!-- User Profile-->
                    <div class="user-profile d-flex no-block dropdown m-t-20">
                        <div class="user-pic"><img src="/chat/images/users/1.jpg" alt="users" class="rounded-circle"
                                width="40" /></div>
                        <div class="user-content hide-menu m-l-10">
                            <a href="javascript:void(0)" class="" id="Userdd" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <h5 class="m-b-0 user-name font-medium">Steave Jobs <i class="fa fa-angle-down"></i></h5>
                                <span class="op-5 user-email">varun@gmail.com</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Userdd">
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i>
                                    My Profile</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i>
                                    My Balance</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i>
                                    Inbox</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings m-r-5 m-l-5"></i>
                                    Account Setting</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-power-off m-r-5 m-l-5"></i>
                                    Logout</a>
                            </div>
                        </div>
                    </div>
                    <!-- End User Profile-->
                </li>
                <!-- User Profile-->
                <li class="sidebar-item"><a href="/officer" class="sidebar-link"><i class="mdi mdi-view-dashboard"></i><span
                            class="hide-menu">
                            Dashboard </span></a></li>
                <li class="sidebar-item"><a href="/officer/chats" class="sidebar-link"><i class="mdi mdi-comment-processing-outline"></i><span
                            class="hide-menu"> Chats</span></a></li>
                <li class="sidebar-item"><a href="/officer/add_farmer" class="sidebar-link"><i class="mdi mdi-pencil-box-outline"></i><span
                            class="hide-menu"> Add Farmer</span></a></li>
                <li class="sidebar-item"><a href="/officer/all_farmers" class=" sidebar-link"><i class="mdi mdi-face"></i><span
                            class="hide-menu"> All Farmers</span></a></li>
                <li class="sidebar-item"><a href="/officer/adminstrators" class="sidebar-link"><i class="mdi mdi-pencil-box-outline"></i><span
                            class="hide-menu"> Extension Officers</span></a></li>

                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="mdi mdi-pencil-box-outline"></i><span class="hide-menu">My
                            Profile
                        </span></a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item"><a href="/officer/user_profile" class="sidebar-link"><i class="mdi mdi-calendar-plus"></i><span
                                    class="hide-menu"> My Profile</span></a></li>
                        <li class="sidebar-item"><a href="/officer/edit_profile" class="sidebar-link"><i class="mdi mdi-calendar-clock"></i><span
                                    class="hide-menu"> Edit Profile
                                </span></a></li>

                    </ul>
                </li>


            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>