<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
        <!-- logo start -->
        <div class="page-logo">
            <a href="/officer"> <img alt="" src="/<%= avatar %>" width="40" /> <span class="logo-default">Ext Officer</span>
            </a>
        </div>
        <!-- logo end -->
        <ul class="nav navbar-nav navbar-left in">
            <li>
                <a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a>
            </li>
        </ul>
        <!--
            <form class="search-form-opened" action="#" method="GET">
                   <div class="input-group">
                       <input type="text" class="form-control" placeholder="Search..." name="query">
                       <span class="input-group-btn search-btn">
                           <a href="javascript:;" class="btn submit">
                               <i class="icon-magnifier"></i>
                           </a>
                       </span>
                   </div>
               </form>
        -->

        <!-- start mobile menu -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span> </a>
        <!-- end mobile menu -->
        <!-- start header menu -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- start notification dropdown -->
                <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_ba">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                        data-close-others="true">
                        <i class="fa fa-bell-o"></i> <span class="badge headerBadgeColor1"> 1
                        </span> </a>
                </li>
                <!-- end notification dropdown -->
                <!-- start message dropdown -->
                <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                    <a href="/officer/consultations" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                        data-close-others="true">
                        <i class="fa fa-envelope-o"></i> <span class="badge headerBadgeColor2 messageCounter">
                            0</span> </a>
                </li>
                <!-- end message dropdown -->
                <!-- start manage user dropdown -->
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                        data-close-others="true">
                        <img alt="" class="img-circle " src="/<%= avatar %>" width="33" /> <span class="username username-hide-on-mobile">
                            <%= name %> </span> <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default animated jello">
                        <li>
                            <a href="/officer/user_profile"> <i class="icon-user"></i> Profile </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="/logout"> <i class="icon-logout"></i> Log Out </a>
                        </li>
                    </ul>
                </li>
                <!-- end manage user dropdown -->
            </ul>
        </div>
    </div>
</div>