<div class="sidebar-container1">
    <div class="sidemenu-container navbar-collapse collapse fixed-menu">
        <div id="remove-scroll">
            <ul class="sidemenu page-header-fixed p-t-20" data-keep-expanded="false" data-auto-scroll="true"
                data-slide-speed="200">
                <li class="sidebar-toggler-wrapper hide">
                    <div class="sidebar-toggler">
                        <span></span>
                    </div>
                </li>

                <li class="nav-item start active">
                    <a href="/officer" class="nav-link nav-toggle">
                        <i class="material-icons">dashboard</i>
                        <span class="title">Dashboard</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item start active">
                    <a href="/officer/consultations" class="nav-link nav-toggle">
                        <i class="material-icons">chat</i>
                        <span class="title">Consultations</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <!-- <li class="nav-item start active">
                    <a href="/officer/chats" class="nav-link nav-toggle">
                        <i class="material-icons">chat</i>
                        <span class="title">Chats</span>
                        <span class="selected"></span>
                    </a>
                </li> -->
                <li class="nav-item start active">
                    <a href="/officer/add_farmer" class="nav-link nav-toggle">
                        <i class="material-icons">edit</i>
                        <span class="title">Add Farmer</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item start active">
                    <a href="/officer/all_farmers" class="nav-link nav-toggle">
                        <i class="material-icons">account_circle </i>
                        <span class="title">All Farmers</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item start active">
                    <a href="/officer/adminstrators" class="nav-link nav-toggle">
                        <i class="material-icons"> contact_mail</i>
                        <span class="title">Extension Officers</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link nav-toggle">
                        <i class="material-icons">persons</i>
                        <span class="title">My Profile</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="/officer/user_profile" class="nav-link">
                                <span class="title">My Profile</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/officer/edit_profile" class="nav-link">
                                <span class="title">Edit Profile</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            </li>
            </ul>
        </div>
    </div>
</div>