<div class="page-footer">
    <div class="page-footer-inner"> 2018 &copy; Design by
        <a href="mailto:info@oratech.co.ke" target="_top" class="makerCss">Oratech</a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>