<div class="sidebar-container">
    <div class="sidemenu-container navbar-collapse collapse fixed-menu">
        <div id="remove-scroll">
            <ul class="sidemenu page-header-fixed p-t-20" data-keep-expanded="false" data-auto-scroll="true"
                data-slide-speed="200">
                <li class="sidebar-toggler-wrapper hide">
                    <div class="sidebar-toggler">
                        <span></span>
                    </div>
                </li>

                <li class="nav-item start active">
                    <a href="/farmer" class="nav-link nav-toggle">
                        <i class="material-icons">dashboard</i>
                        <span class="title">Dashboard</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item start active">
                    <a href="/farmer/chat" class="nav-link nav-toggle">
                        <i class="material-icons">chat</i>
                        <span class="title">Consultations</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link nav-toggle">
                        <i class="material-icons">persons</i>
                        <span class="title">My Profile</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="/farmer/profile" class="nav-link ">
                                <span class="title">My Profile</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/farmer/editprofile" class="nav-link ">
                                <span class="title">Edit Profile</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
            </li>
            </ul>
        </div>
    </div>
</div>